<footer class="footer">
  <video class="footer-video" autoplay muted loop playsinline>
    <source src="/media/footer.mp4" type="video/mp4" />
  </video>

  <div class="footer-overlay grain"></div>

  <div class="footer-content">
    <div class="footer-left">
      <div class="mono">© <span id="year"></span> Branimir Cujic - n3b444 - </div>
      <div class="muted mono">B&W // low-noise signal // high-contrast UX // Yesterday's Jam </div>
      <div class="muted mono">IT Crowd Theme // flat/brutal/industrial — no fluff. //</div>
    </div>
    <div class="footer-right mono">
      <a href="/cv/BC25.pdf" target="_blank" rel="noopener">👀Quick Look </a>
      <span class="sep">/</span>
      <a href="/cv.html">Web CV</a>
      <span class="sep">/</span>
      <a href="https://www.imdb.com/title/tt0609853/">📽️Info</a>
    </div>
  </div>
</footer>